:root {
    --main-color: #0A0A5C;
    --main-color-highlighted: #0F0F8A;
    --complement-color: #5C5C0A;
    --complement-color-highlighted: #8A8A0F;
    --secondary-color: #FFFFFF;
    --secondary-color-darken: #DDDDDD;
    --overlay-background-color: rgba(0,0,0,0.5);
    --delete-color: #8A0F0F;
    --font-color-light: #FFFFFF;
    --font-color-dark: #000000;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

/* ==============general================= */

.font-default-light {
    color: var(--font-color-light) !important;
}

.font-default-dark {
    color: var(--font-color-dark) !important;
}

.popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

.popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--secondary-color);
    z-index: -1;
    border-radius: 24px;
}

.popup {
    position: fixed;
    width: 35vw;
    left: 50%;
    margin-left: -17.5vw;
    height: 20vh;
    top: 50%;
    margin-top: -10vh;
    background: var(--secondary-color);
    z-index: 20;
    border-radius: 24px;
}

.hidden {
    display: none !important;
}

.fill-container {
    width: 100%;
    height: 100%;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.header-bar {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0.5em;
}

.dashboard-title-container {
    width: 32.5%;
}

.dashboard-title-container > p{
    margin: 0px;
    font-size: 4vh;
    font-style: bold;
    color: var(--font-color-light);
}

.flex-float-right {
    margin-left: auto;
}

#page-title {
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#page-title p{
    margin: 0px;
}

.flex-title-float-left {
    width: 100%;
    text-align: left;
}

.logo-container img {
    width: 20vh;
    padding: -4.5vh;
    margin-right: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

#dept-overall-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 97.5vw;
    margin: 0px;
}

.dept-stat-container {
    background-color: var(--main-color);
    border-radius: 15px;
    margin-top: 0.5em;
    width: 18vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.5s;
    justify-content: space-evenly;
}

.dept-stat-container:hover {
    background-color: var(--main-color-highlighted);
}

.ds-title {
    color: var(--font-color-light);
    margin: 1rem;
    margin-bottom: 0px;
    font-size: 4vh;
    font-weight: 600;
}

.ds-content {
    margin-top: 3vh;
    width: 90%;
}

#admin-options {
    margin-top: 1rem;
    display: flex;
    width: 97.5vw;
    align-items: center;
    justify-content: space-between;
}

#ao-create-btn {
    margin-top: auto;
    border: none !important;
    background-color: var(--complement-color-highlighted);
    border-radius: 16px;
    padding: 1rem;
    color: var(--font-color-light) !important;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

#ao-create-btn > p{
    color: var(--font-color-light) !important;
}

/* ==============workstation================= */
#ws-overall-stats {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.ws-role-section {
    box-shadow: #000000 1px 1px 4px 1px;    
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 95%;
    margin-top: 1rem;
    border-radius: 12px;
}

.ws-role-section > p{
    font-size: 2rem;
    font-weight: 600;
}

.ws-stat-container {
    background-color: var(--main-color);
    border-radius: 15px;
    margin: 0.5em;
    margin-top: 0.5em;
    width: 18vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.5s;
    justify-content: space-evenly;
    /* transition-duration: 0.4s; */
}

.ws-stat-container:hover {
    background-color: var(--main-color-highlighted);
}

/* ==============member page================= */

#member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.member-container {
    border: solid 4px var(--main-color);
    border-radius: 12px;
    width: 30vw;
    height: 25vh;
    margin-bottom: 3vh;
    display: flex;
}

.member-container a {
    width: 50%;
}

.member-list-container {
    overflow: auto;
    white-space: nowrap;
}

.member-info {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s;
}

.member-info:hover {
    background-color: var(--main-color-highlighted);
}

.member-info-texts{
    width: 100%;
}

.member-info-texts > p {
    color: var(--font-color-light);
    font-size: 2vh;
    margin: 0.5rem;
}

.member-info-photo-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.member-info-photo-container > img {
    height: 12vh;
    width: 9vh;
}

.member-stats{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.member-stats > div {
    height: 90%;
}

#list-nav {
    margin-top: auto;
    margin-bottom: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#list-nav p{
    margin: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.move-member-page-icon {
    height: 1rem;
}

/* ============= Profile ============== */
#profile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.profile-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.p-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20vh;
}

.p-picture-container {
    height: 100%;
    width: 15vh;
    margin-left: 2vw;
}

.p-picture-container img {
    height: 100%;
    width: 100%;
}

.p-title-container {
    margin: 0.4rem;
}

.p-title-container p{
    margin: 0px;
}

.p-title-text {
    font-size: 3vh;
    font-weight: 650;
}

.p-name-text {
    font-size: 2vh;
    font-weight: 500;
}

.p-stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-radar-container {
    width: 50%;
}

.profile-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

#npk-search-container {
    width: 100%;
    height: 7vh;
    border: solid 4px var(--main-color);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    margin-left: -20%;
}

#npk-search-container input {
    width: 90%;
    padding: 0.5rem;
    border: none;
    border-radius: 24px 0px 0px 24px;
}

#npk-search-container button {
    width: 10%;
    padding: 0.5rem;
    border: none;
    border-radius: 0px 24px 24px 0px;
    background-color: var(--secondary-color-darken);
    cursor: pointer;
}

#npk-search-container img {
    height: 3vh;
    padding: 0px;
    border: none;
    border-radius: 0px 24px 24px 0px;
}

.profile-table {
    width: 90%;
    margin-top: 2.5vh;
    height: 90%;
    border: solid 4px var(--main-color);
    border-radius: 16px;
}

#pt-tab-buttons {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
}

input[name='pt-tab']{
    display: none;
}

.pt-tab-left {
    border-radius: 11px 0px 0px 0px;
}

.pt-tab-right {
    border-radius: 0px 11px 0px 0px;
}

.pt-tab-button{
    margin: 0px;
    width: 50%;
    height: 100%;
}

.pt-tab-button > label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type="radio"] + div.pt-tab-button{
    background-color: var(--main-color);
    transition: all 0.5s;
}

input[type="radio"]:checked + div.pt-tab-button{
    background-color: var(--main-color-highlighted);
}

.pt-tab-button p {
    text-align: center;
    color: var(--font-color-light);
    font-size: 3.5vh;
    font-weight: 600;
    margin: 0px;
}

.pt-chart-info {
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 65vh;
    align-items: center;
    width: 100%;
}

.pt-chart-info > div {
    width: 70%;
    padding-left: 0.5vh;
}

#show-mp-desc {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

#show-mp-desc input{
    display: none;
}

.mp-desc-toggle {
    background-color: var(--main-color);
    color: var(--font-color-light);
    width: 15%;
    height: 5vh;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.mp-desc-toggle > label {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}

input[type="radio"]:checked + div.mp-desc-toggle{
    background-color: var(--main-color-highlighted);
}

.pt-update-assessment {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-weight: 600;
    font-size: 3vh;
}

#biodata p {
    font-size: 2.5vh;
    margin-bottom: 0.5rem;
    margin: 0px;
}

.cat-update-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.6rem;
}

input.update-assessment-button {
    display: none;
}

.cu-name {
    width: 20%;
}

.cu-radiogroup {
    border-radius: 12px;
    border: solid 3px var(--main-color);
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 5vh;
}

.cu-radiogroup > div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-items: center;
}

#update-assessment p {
    margin: 0px;
}

#update-assessment-form {
    display: flex;
    flex-direction: column;
}

.cu-radiogroup label {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.cu-radiogroup label > div {
    width: 100%;
    text-align: center;
}

.cu-radio-button {
    cursor: pointer;
}

.cu-radio-button:hover {
    background-color: var(--secondary-color-darken);
}

input[type="radio"]:checked + .cu-radio-button {
    background-color: var(--main-color);
    color: var(--font-color-light);
}

input[value='1'] + .cu-radio-button {
    border-radius: 8px 0px 0px 8px;
}

input[value='5'] + .cu-radio-button {
    border-radius: 0px 8px 8px 0px;
}

.cu-submit-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3vh;
}

.cu-submit-btn {
    margin-top: auto;
    border: none !important;
    background-color: var(--complement-color-highlighted);
    border-radius: 16px;
    padding: 0.5rem;
    color: var(--font-color-light) !important;
    font-weight: 500;
    font-size: 2vh;
    cursor: pointer;
}

.cu-delete-btn {
    margin-top: auto;
    border: none !important;
    background-color: var(--delete-color);
    border-radius: 16px;
    padding: 0.5rem;
    color: var(--font-color-light) !important;
    font-weight: 500;
    font-size: 2vh;
    cursor: pointer;
}

.cu-cancel-btn {
    margin-top: auto;
    border: none !important;
    background-color: var(--main-color);
    border-radius: 16px;
    padding: 0.5rem;
    color: var(--font-color-light) !important;
    font-weight: 600;
    cursor: pointer;
}

.popup-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/* =====================ADD PROFILE======================== */

#add-profile-page-container {
    box-shadow: #000000 1px 1px 4px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 12px;
}

#add-profile-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;   
}

.ap-form-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.ap-form-section > p{
    margin: 0px;
    font-size: 3.5vh;
    font-weight: 600;
}

.ap-form-input-box {
    border-radius: 12px;
    width: 50%;
    border: solid 2px var(--font-color-dark);
}

/* ====================LOGIN============================ */

#login-form-wrapper {
    box-shadow: #000000 1px 1px 4px 1px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

#login-form-wrapper:first-child {
    padding-top: 2vh;
    text-align: center;
    height: 10px;
}

#login-form-wrapper p {
    font-size: 4vh;
    font-weight: 600;
}

.login-input {
    border-radius: 8px;
    border: none;
    height: 5vh;
    padding: 0.5rem;
}