:root {
    --main-color: #0A0A5C;
    --main-color-highlited: #0f0f6d;
    --font-color-light: #FFFFFF;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header-bar {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0.5em;
}

.dashboard-title-container > p{
    margin: 0px;
    font-size: 4vh;
    font-style: bold;
    color: var(--font-color-light);
}

.flex-float-right {
    margin-left: auto;
}

#page-title {
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
}

.logo-container > img {
    width: 20vh;
    /* margin: -4.5vh; */
    padding: -4.5vh;
    margin-right: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

#dept-overall-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
}

.dept-stat-container {
    background-color: var(--main-color);
    border-radius: 15px;
    margin-top: 1em;
    width: 23vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    /* transition-duration: 0.4s; */
}

.dept-stat-container:hover {
    background-color: var(--main-color-highlited);
    width: 25vw;
    height: 57vh;
}

.ds-title {
    color: var(--font-color-light);
    margin: 1rem;
    font-weight: 600;
}

